.container {
  background-color: var(--color-accent);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  overflow: auto;
}

.text {
  color: var(--color-text-light);
  text-align: center;
  text-wrap: balance;
}
