:root {
  --color-accent: #1e40af;
  --color-text-light: #f9fafb;
  --color-background-light: #f9fafb;
  --color-text-dark: #1f2937;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Cambria, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
